<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The movie site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bulma.css">
    <script src="/turbolinks.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/movies/add">
                                Add Movie
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {{{ body }}}
    </div>
</body>
</html>
