<h2 class="title is-3">
    How did “{{movie.title}}” compare to “{{ movieToCompare.title }}”?
</h2>
<input type="hidden" name="ratings[{{ index }}][first]" value="{{{ movie.index }}}">
<input type="hidden" name="ratings[{{ index }}][second]" value="{{{ movieToCompare.index }}}">
<div class="select">
    <select name="ratings[{{ index }}][relationship]">
        <option value="1">Better</option>
        <option value="0">Haven't seen it</option>
        <option value="-1">Worse</option>
    </select>
</div>