{{#if movies.length }}
    <ul>
        {{#each movies as |movie|}}
            <li>
                <a href="/movies/{{ movie.index }}">
                    {{ movie.title}}
                </a>
            </li>
        {{/each}}
    </ul>
{{else}}
    Oh no, no movies
{{/if}}




