<section class="section">
    <form method="POST">
        <div class="container">
            <!-- TODO: Update the first and second to use the actual movie objects -->
            {{#each moviesToCompare as |movieToCompare index|}}
                {{{ ratingBlock movie=@root.movie movieToCompare=movieToCompare index=index  }}}
            {{/each}}

            <input class="button is-primary" type="submit" value="Review">
        </div>
    </form>
</section>

