<style>
    input {
        display: block;
        margin-bottom: 1em;
    }
</style>

<form method="POST">

    <h1 class="title">
        Add a movie
    </h1>

    <div class="field">
        <div class="control">
            <input class="input" placeholder="title" type="text" name="movie[title]">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input" placeholder="year" type="date" name="movie[year]">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <textarea style="min-height: 10em" class="input" placeholder="description" name="movie[description]" cols="30" rows="10"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="button is-primary" type="submit" value="Add movie">
        </div>
    </div>

</form>

