<section class="hero is-small is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                {{ movie.title }}
            </div>
            <div class="subtitle">
                {{#if movie.reviewedEnough }}
                    ⭐ {{ asPercentage movie.rating }}
                {{else}}
                    This movie has not been reviewed enough times for a rating yet
                    <br>
                    Why don't you review it?
                {{/if}}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-5">
            About this film
        </h2>
        “{{ movie.description }}”
    </div>
    <hr>
    <div class="container">
        <a class="button is-link is-outlined" href="/movies/rating/{{ movie.index }}">
        Add Review
        </a>
    </div>
</section>
